<!DOCTYPE html>
<html lang="en"

      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="global.css" type="text/css" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
  }
</style>
</head>
<tbody>
<div class="container-fluid">
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"> <h2> Registration Form </h2>
        </div>
        <div class="col-sm-4"></div>
        <form action="/logout" method="GET">
            <button>
                <input type="submit" id="logout" value="logout"  style="height:30px; width:200px" />
            </button>
        </form>

        </div>
</div>

<h2>Registered List</h2>
    <div class="row col-md-7 table-responsive">
<table id="customerTable" class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="target, rowStat: ${target}"
        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
             <td th:text="${target.id}">1</td>
             <td th:text="${target.name}">aaa</td>
       </tr>
    <tbody>
</table>
</div>

</tbody>
</html>