<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="global.css" type="text/css" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
  }
</style>

    <script>
function validationFn()
{
    var name = document.forms["RegForm"]["name"];
    var email = document.forms["RegForm"]["email"];
    var phno = document.forms["RegForm"]["phno"];
    var address1 = document.forms["RegForm"]["address1"];
    var district =  document.forms["RegForm"]["district"];
    var state = document.forms["RegForm"]["state"];
    var pincode = document.forms["RegForm"]["pincode"];
    var password = document.forms["RegForm"]["password"];

     if (name.value == "")
    {
        window.alert("Please enter your name.");
        name.focus();
        return false;
    }
     if (email.value == "")
    {
        window.alert("Please enter a valid e-mail address.");
        email.focus();
        return false;
    }

    if (email.value.indexOf("@", 0) < 0)
    {
        window.alert("Please enter a valid e-mail address.");
        email.focus();
        return false;
    }

    if (email.value.indexOf(".", 0) < 0)
    {
        window.alert("Please enter a valid e-mail address.");
        email.focus();
        return false;
     }
     if (phno.value == "")
    {
        window.alert("Please enter your mobile number.");
        phno.focus();
        return false;
    }
    if (address1.value == "")
    {
        window.alert("Please enter your address.");
        address1.focus();
        return false;
    }
    if (district.value == "")
    {
        window.alert("Please enter your district.");
        district.focus();
        return false;
    }
    if (state.value == "")
    {
        window.alert("Please enter your district.");
        name.focus();
        return false;
    }
    if (state.value == "")
    {
        window.alert("Please enter your state.");
        state.focus();
        return false;
    }
    if (pincode.value == "")
    {
        window.alert("Please enter your pincode.");
        pincode.focus();
        return false;
    }
        if (password.value == "")
    {
        window.alert("Please enter your password");
        password.focus();
        return false;
    }
     return true;
}

</script>
</head>
<body>

<div class="container-fluid">
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"> <h2> Registration Form </h2>
        </div>


        </div>
</div>


<div class="container-fluid">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form name="RegForm" action="/register" onsubmit="return validationFn()" method="POST">
            <h2>Create an account</h2>
            <h2> </h2>

            <div class="form-group">
                <label for="name">Your Name * </label>
                <input type="name" name="name" class="form-control" id="name" placeholder="full name">
            </div>
            <div class="form-group">
                <label for="email">Email address *</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="email">
            </div>

            <div class="form-group">
                <label for="phno">Mobile Number *</label>
                <input type="Phno" name="phno" class="form-control" id="phno" placeholder="Mobile Number">
            </div>


            <div class="form-group">
                <label for="address1">Address 1 *</label>
                <input type="address1" name="address1" class="form-control" id="address1" placeholder="Address Line 1">
            </div>
            <div class="form-group">
                <label for="address2">Address 2</label>
                <input type="address2" name="address2" class="form-control" id="address2" placeholder="Address Line 2">
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input type="city" name="city" class="form-control" id="city" placeholder="City">
            </div>

<div class="form-group">
<label for="state">State</label>
<select name="state"  class="form-control">
<option value="">- Select State -</option>
<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Orissa">Orissa</option>
<option value="Pondicherry">Pondicherry</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Tripura">Tripura</option>
<option value="Uttaranchal">Uttaranchal</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="West Bengal">West Bengal</option>
</select>
</div>




            <div class="form-group">
                <label for="district">District *</label>
                <input type="district" name="district" class="form-control" id="district" placeholder="District">
            </div>

            <div class="form-group">
                <label for="pincode">Pincode *</label>
                <input type="pincode" name="pincode" class="form-control" id="pincode" placeholder="Pincode">
            </div>
            <div class="form-group">
                <label for="password">Password *</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Your new password">
            </div>


            <button type="submit" class="btn btn-success">Sign Up</button>


        </form>
    </div>
</div>
</div>
</body>
</html>